<a href="https://colab.research.google.com/github/jenny3141/Venture_funding_deep_learning/blob/main/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [ ]:
# Imports
import pandas as pd
import tensorflow as tf
import numpy as np
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from pathlib import  Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [ ]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (2).csv

In [ ]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv')

# Review the DataFrame
applicant_data_df.head(10)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [ ]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [ ]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [ ]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [ ]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [ ]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns=enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [ ]:
non_categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes!='object'].index)
non_categorical_variables

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [ ]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[non_categorical_variables], encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [ ]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [ ]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [ ]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = np.ceil(np.sqrt(number_input_features * number_output_neurons))

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

11.0

In [ ]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  np.ceil(np.sqrt(hidden_nodes_layer1 * number_output_neurons))

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4.0

In [ ]:
# Create the Sequential model instance
nn = Sequential()

In [ ]:
# Add the first hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer1,
        activation='relu',
        input_dim=number_input_features
    )
)

In [ ]:
# Add the second hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer2,
        activation='relu'
    )
)

In [ ]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(
    Dense(
        units=1,
        activation='sigmoid'
    )
)

In [ ]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                1287

 dense_1 (Dense)             (None, 11)                132

 dense_2 (Dense)             (None, 4)                 48

 dense_3 (Dense)             (None, 1)                 5

=================================================================
Total params: 1,472
Trainable params: 1,472
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [ ]:
# Compile the Sequential model
nn.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [ ]:
# Fit the model using 50 epochs and the training data
nn_model=nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6058 - accuracy: 0.6896
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5642 - accuracy: 0.7248
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7295
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7305
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7317
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7315
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7317
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7327
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7324
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7338
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7325
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7323
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5451 - accuracy: 0.7337
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7336
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7343
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7329
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7345
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7341
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7345
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5432 - accuracy: 0.7349
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5426 - accuracy: 0.7348
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5423 - accuracy: 0.7348
Epoch 23/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5428 - accuracy: 0.7344
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5422 - accuracy: 0.7336
Epoch 25/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5422 - accuracy: 0.7355
Epoch 26/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5422 - accuracy: 0.7344
Epoch 27/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7353
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5418 - accuracy: 0.7337
Epoch 29/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5414 - accuracy: 0.7359
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7346
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7343
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7350
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7354
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7352
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7354
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7353
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7353
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7371
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7354
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7362
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7372
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7366
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7356
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7359
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7371
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5403 - accuracy: 0.7362
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7366
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7379
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7374
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7369

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [ ]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5480 - accuracy: 0.7314 - 547ms/epoch - 2ms/step
Loss: 0.54804527759552, Accuracy: 0.7314285635948181

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [ ]:
# Set the model's file path

file_path = Path('Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

In [ ]:
# Display the model loss and accuracy results
results_df=pd.DataFrame(
                    data={
                        'Date': [date.today()],
                        'Model'   : [0],
                        'Observations': ['Original model, geometric mean for number of layers'],
                        'Loss'    : [model_loss], 
                        'Accuracy': [model_accuracy],
                        'Hidden layers': 2,
                        'Input Features':[number_input_features],
                        'Output Neurons': [number_output_neurons],
                        'Neurons in Hidden Layers1' : [hidden_nodes_layer1],
                        'Neurons in Hidden Layers2' : [hidden_nodes_layer2],
                        'Epochs'         : [50],
                        'Activation Hidden layer 1': ['relu'],
                        'Activation Hidden layer 2': ['relu'],
                        'Activation Output layer 1': ['sigmoid'],
                        'loss':['binary_crossentropy'],
                        'optimizer':['adam'],
                        'metrics':['accuracy']          
                    })

print(results_df.T)

                                                                           0
Date                                                              2022-07-17
Model                                                                      0
Observations               Original model, geometric mean for number of l...
Loss                                                                0.548045
Accuracy                                                            0.731429
Hidden layers                                                              2
Input Features                                                           116
Output Neurons                                                             1
Neurons in Hidden Layers1                                               11.0
Neurons in Hidden Layers2                                                4.0
Epochs                                                                    50
Activation Hidden layer 1                                               relu
Activation Hidden layer 2                                               relu
Activation Output layer 1                                            sigmoid
loss                                                     binary_crossentropy
optimizer                                                               adam
metrics                                                             accuracy

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [ ]:
# Imports
import pandas as pd
import numpy as np
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from datetime import date

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = np.floor(np.mean([number_input_features,number_output_neurons_A1]))

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58.0

In [ ]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [ ]:
# First hidden layer
nn_A1.add(
    Dense(
        units=hidden_nodes_layer1_A1,
        activation='relu',
        input_dim=number_input_features
    )
)

# Output layer
nn_A1.add(
    Dense(
        units=1,
        activation='sigmoid'
    )
)

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 58)                6786

 dense_5 (Dense)             (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the Sequential model
nn_A1.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [ ]:
# Fit the model using 50 epochs and the training data
epochs=50
fit_model_A1 = nn_A1.fit(
    X_train_scaled,
    y_train,
    epochs=epochs
)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5841 - accuracy: 0.7190
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5591 - accuracy: 0.7289
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5557 - accuracy: 0.7286
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5542 - accuracy: 0.7297
Epoch 5/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5528 - accuracy: 0.7299
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5511 - accuracy: 0.7292
Epoch 7/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5499 - accuracy: 0.7318
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7310
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7322
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7312
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7323
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7328
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7312
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7327
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7322
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7334
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7323
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7334
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7335
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5441 - accuracy: 0.7347
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7334
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7341
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7347
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7344
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7357
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7347
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7350
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7342
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7338
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7338
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7349
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7348
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7358
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7355
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7339
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7360
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7352
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7352
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7356
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7363
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7351
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7348
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7354
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7357
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7361
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7364
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7365
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7351
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7357
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7358

#### Alternative Model 2

In [ ]:
# Imports
import pandas as pd
import numpy as np
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from datetime import date

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = np.ceil(np.sqrt(number_input_features * number_output_neurons_A2))*2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

22.0

In [ ]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [ ]:
# First hidden layer
nn_A2.add(
    Dense(
        units=hidden_nodes_layer1_A2,
        activation='relu',
        input_dim=number_input_features
    )
)

# Output layer
nn_A2.add(
    Dense(
        units=1,
        activation='sigmoid'
    )
)

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 22)                2574

 dense_7 (Dense)             (None, 1)                 23

=================================================================
Total params: 2,597
Trainable params: 2,597
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_A2.compile(
        loss='binary_crossentropy',
        optimizer='adam',
        metrics=['accuracy']
        
)

In [ ]:
# Fit the model
epochs=80
nn_A2.fit(
    X_train_scaled,
    y_train,
    epochs=epochs
)

Epoch 1/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5944 - accuracy: 0.7119
Epoch 2/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5629 - accuracy: 0.7277
Epoch 3/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7306
Epoch 4/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5544 - accuracy: 0.7291
Epoch 5/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7305
Epoch 6/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7309
Epoch 7/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7309
Epoch 8/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7307
Epoch 9/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7315
Epoch 10/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7316
Epoch 11/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7319
Epoch 12/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7322
Epoch 13/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7322
Epoch 14/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7326
Epoch 15/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7327
Epoch 16/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7324
Epoch 17/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7324
Epoch 18/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7329
Epoch 19/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7329
Epoch 20/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7339
Epoch 21/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7332
Epoch 22/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7332
Epoch 23/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7329
Epoch 24/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7339
Epoch 25/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7341
Epoch 26/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7333
Epoch 27/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7337
Epoch 28/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7349
Epoch 29/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7341
Epoch 30/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7340
Epoch 31/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7333
Epoch 32/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7342
Epoch 33/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7341
Epoch 34/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7350
Epoch 35/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7350
Epoch 36/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7341
Epoch 37/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7358
Epoch 38/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7350
Epoch 39/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7352
Epoch 40/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7351
Epoch 41/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7348
Epoch 42/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7350
Epoch 43/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7354
Epoch 44/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7347
Epoch 45/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7345
Epoch 46/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7347
Epoch 47/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7348
Epoch 48/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7360
Epoch 49/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7354
Epoch 50/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7356
Epoch 51/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7355
Epoch 52/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7355
Epoch 53/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7350
Epoch 54/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7352
Epoch 55/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7363
Epoch 56/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7357
Epoch 57/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7357
Epoch 58/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7349
Epoch 59/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7370
Epoch 60/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7356
Epoch 61/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7364
Epoch 62/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7347
Epoch 63/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7363
Epoch 64/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7365
Epoch 65/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7350
Epoch 66/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7367
Epoch 67/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7357
Epoch 68/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7360
Epoch 69/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7375
Epoch 70/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7358
Epoch 71/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7360
Epoch 72/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7362
Epoch 73/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7363
Epoch 74/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7361
Epoch 75/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7358
Epoch 76/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7369
Epoch 77/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7366
Epoch 78/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7359
Epoch 79/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7362
Epoch 80/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7360

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5480 - accuracy: 0.7314 - 311ms/epoch - 1ms/step
Loss: 0.54804527759552, Accuracy: 0.7314285635948181

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.5517 - accuracy: 0.7303 - 769ms/epoch - 3ms/step
Loss: 0.5517125725746155, Accuracy: 0.7302623987197876

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5494 - accuracy: 0.7324 - 415ms/epoch - 2ms/step
Loss: 0.5493796467781067, Accuracy: 0.7323614954948425

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = Path('../Resources/AlphabetSoup_Model_1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [ ]:
# Set the file path for the second alternative model
file_path = Path('../Resources/AlphabetSoup_Model_2.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path)